<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="productList">
        {{#each products}}
            <li>
                <h3>{{this.title}}</h3>
                <p>Descripción: {{this.description}}</p>
                <p>Código: {{this.code}}</p>
                <p>Precio: ${{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Categoría: {{this.category}}</p>
                <p>Thumbnails: {{#each this.thumbnails}}{{this}} {{/each}}</p>
            </li>
        {{/each}}
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>



{{!-- {
  "title": "Producto de Prueba",
  "description": "Descripción del producto de prueba",
  "code": "PRD123",
  "price": 123.45,
  "stock": 10,
  "category": "Categoría de Prueba",
  "thumbnails": ["url1", "url2"]
} --}}